# Task 1

In [16]:
import pandas as pd

df = pd.read_csv(
    filepath_or_buffer="data.csv",
    delimiter=";",
    skiprows=1
)
df["weekday"] = pd.to_datetime(df.date_joined).dt.day_of_week

df["weekday"] = df["weekday"].map(
    {
        0: "Понедельник",
        1: "Вторник",
        2: "Среда",
        3: "Четверг",
        4: "Пятница",
        5: "Суббота",
        6: "Воскресенье"
    }
)

df["date"] = pd.to_datetime(df.date_joined).dt.day

res = df.groupby(["weekday"], as_index=False).agg(
    reg_count = ("id", "count"),
    date_unique = ("date", "nunique"),
)
res
df

      id       username          date_joined      weekday  date
0    416  nsosabisfsobm  2022-01-02 12:22:43  Воскресенье     2
1     43    NbabnnbTona  2021-07-01 09:11:42      Четверг     1
2     50           jbdn  2021-08-04 09:01:56        Среда     4
3    249       Kbaoxsnb  2021-11-27 07:03:35      Суббота    27
4     77   bxakbasmo$$$  2021-11-09 14:31:46      Вторник     9
..   ...            ...                  ...          ...   ...
95   946     Mbbn$xb$eo  2022-01-29 18:04:23      Суббота    29
96   947            NaN  2022-01-29 18:31:26      Суббота    29
97  1050     nsosabndsi  2022-02-01 21:02:59      Вторник     1
98  1076    SbsdSaobdox  2022-02-02 19:31:21        Среда     2
99  1090           Addb  2022-02-03 13:14:15      Четверг     3

[100 rows x 5 columns]

In [ ]:
# Не удаляйте эту строку - она позволит адаптировать работу некоторых функций Pandas под нашу систему
from patches import * 
import pandas as pd
df = pd.read_csv(
    filepath_or_buffer="itresume-users-pandas.csv",
    delimiter=";",
    skiprows=1
)
df["weekday"] = pd.to_datetime(df.date_joined).dt.day_of_week

df["weekday"] = df["weekday"].map(
    {
        0: "Понедельник",
        1: "Вторник",
        2: "Среда",
        3: "Четверг",
        4: "Пятница",
        5: "Суббота",
        6: "Воскресенье"
    }
)

df["date"] = pd.to_datetime(df.date_joined).dt.date

res = df.groupby(["weekday"]).agg({'date': ['count', 'nunique']})

# Task 2

In [29]:
import pandas as pd
df = pd.read_csv(
    filepath_or_buffer="data.csv",
    delimiter=";",
    skiprows=1
)
df = df[(df.id >= 94) & (~df.username.isin(['fnoxonsnbkbxsnb', 'Jonns21241412', 'fbxbnsn']))]
df["cohort"] = pd.to_datetime(df.date_joined).dt.to_period('M').astype(str)
res = df.groupby("cohort").agg(
    {
        "id":"count"
    }
).reset_index()
res.id = round(res.id / res.id.sum())

# Task 3

In [ ]:
import pandas as pd
import numpy as np
coderun = pd.read_csv(
    filepath_or_buffer="data2.csv",
    delimiter=",",
    skiprows=0
)
translator = { 
    3: "Python",
    2: "SQL"
}
coderun["cohort"] = pd.to_datetime(coderun.created_at).dt.strftime("%Y-%M")
coderun["language"] = coderun["language_id"].map(translator)
df = (
    coderun[coderun['cohort'] >= '2022-01']
    .groupby(["cohort", "language", "user_id"])["problem_id"]
    .agg("nunique")
    .groupby(["cohort", "language"])
    .agg(np.mean)
    .reset_index()
    .pivot_table(values='problem_id', columns=['language'], index=['cohort'])
)

/var/folders/8g/hrr0dtn57lb04xhx37szq0k00000gn/T/ipykernel_75930/3158682795.py:19: FutureWarning: The provided callable <function mean at 0x11d835440> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  .agg(np.mean)

language    Python       SQL
cohort
2022-01   1.350000  2.082873
2022-02   1.380952  2.139037
2022-03   1.587302  2.136364
2022-04   1.492754  2.080402
2022-05   1.461538  2.257895
2022-06   1.428571  2.106952
2022-07   1.464286  2.031088
2022-08   1.441176  2.344633
2022-09   1.621212  2.265957
2022-10   1.484375  2.329670
2022-11   1.552632  2.232044
2022-12   1.414634  2.123711
2022-13   1.458333  2.183246
2022-14   1.400000  2.136364
2022-15   1.402985  2.230000
2022-16   1.538462  2.194737
2022-17   1.391304  2.213542
2022-18   1.500000  2.239583
2022-19   1.396825  2.169399
2022-20   1.290323  2.117318
2022-21   1.273973  2.172775
2022-22   1.405797  2.291209
2022-23   1.525424  2.229947
2022-24   1.500000  2.130208
2022-25   1.475410  2.026042
2022-26   1.450000  2.126437
2022-27   1.539683  2.183784
2022-28   1.545455  2.151832
2022-29   1.493333  2.192513
2022-30   1.500000  2.308108
2022-31   1.351351  2.103627
2022-32   1.608696  2.210811
2022-33   1.410256  2.187166
2022-34   1.375000  2.273224
2022-35   1.271605  2.251309
2022-36   1.432836  2.156757
2022-37   1.509804  2.287234
2022-38   1.387097  2.130208
2022-39   1.459016  2.176471
2022-40   1.421875  2.161111
2022-41   1.471429  2.127072
2022-42   1.444444  2.116162
2022-43   1.453333  2.051282
2022-44   1.436620  2.020725
2022-45   1.444444  2.076503
2022-46   1.484375  2.081081
2022-47   1.449275  2.027473
2022-48   1.500000  2.005495
2022-49   1.453125  2.015957
2022-50   1.650794  2.038043
2022-51   1.471429  2.175824
2022-52   1.413333  2.222826
2022-53   1.500000  2.122222
2022-54   1.625000  2.146067
2022-55   1.468750  2.093264
2022-56   1.357143  2.031915
2022-57   1.414286  2.057292
2022-58   1.337838  2.068783
2022-59   1.564516  2.098361

# Task 4

In [55]:
import pandas as pd
import numpy as np
coderun = pd.read_csv('data2.csv')
problem_id = [1, 2, 3, 13, 15, 26]
language_id = 2
df = coderun.query(
    "problem_id not in @problem_id and language_id == @language_id"
)
df

          id               created_at  problem_id  user_id  language_id
391      392  2021-09-20 18:01:45.592          82       63            2
425      426  2021-09-21 08:10:09.720          75       63            2
426      427  2021-09-21 08:11:21.734          75       63            2
427      428  2021-09-21 08:13:06.417          81       63            2
428      429  2021-09-21 08:13:11.887          81       63            2
...      ...                      ...         ...      ...          ...
55717  55718  2022-05-17 09:00:51.743         101      171            2
55718  55719  2022-05-17 09:01:04.210         101      171            2
55719  55720  2022-05-17 09:02:06.203         101      171            2
55720  55721  2022-05-17 09:03:45.265         102      171            2
55721  55722  2022-05-17 09:03:57.645         102      171            2

[44483 rows x 5 columns]