In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mplb

In [31]:
chanels = pd.read_excel(
    io="data.xlsx",
    sheet_name="Данные по каналам"
)
#chanels["user_count"] = 1
chanels.head()

         Канал привлечения  LTV, руб.
0       Реклама у блогеров         90
1  Реклама в новостных СМИ        120
2  Реклама в новостных СМИ        240
3      Контекстная реклама        590
4      Контекстная реклама        670

In [32]:
costs = pd.read_excel(
    io="data.xlsx",
    sheet_name="Стоимость привлечения"
)
costs = costs.reset_index().rename(columns={
    "Unnamed: 0": "источник",
    "Стоимость привлечения, руб": "стоимость"
}).set_index("источник")
del costs["index"]
costs = costs.reset_index()

In [47]:
groupped_users = chanels.groupby(by="Канал привлечения").agg(
    ["sum", "count"]
).reset_index()

total_table = pd.DataFrame()
total_table = groupped_users["LTV, руб."].reset_index()
total_table["index"] = groupped_users["Канал привлечения"]
total_table.rename({
    "index":"source"
})

                     index     sum  count
0          e-mail рассылки   23480    100
1      Контекстная реклама   97850    150
2         Нативная реклама   98370    250
3  Реклама в новостных СМИ   70920    300
4       Реклама у блогеров  150940    700
5        Таргетная реклама   48810    301

In [52]:

total = pd.merge(
    left=total_table,
    right=costs,
    left_on="index",
    right_on="источник",
    how="inner"
)
total["PM"] = (total["sum"] - total["стоимость"])
total["UPM"] = total["PM"] / total["count"]
total

,index,sum,count,источник,стоимость,PM,UPM
0,e-mail рассылки,23480,100,e-mail рассылки,25000,-1520,-15.200000
1,Контекстная реклама,97850,150,Контекстная реклама,90000,7850,52.333333
2,Нативная реклама,98370,250,Нативная реклама,70000,28370,113.480000
3,Реклама в новостных СМИ,70920,300,Реклама в новостных СМИ,60000,10920,36.400000
4,Таргетная реклама,48810,301,Таргетная реклама,100000,-51190,-170.066445